PORT

JWTPASSWORD="JWTPASSWORD"

# DB LOCAL:
DB_HOST="localhost"
DB_USER="postgres"
DB_PORT="5432"
DB_PASS="yourPassword"
DB_NAME="salePoint"

# DB ElephantSQL:
# DB_HOST
# DB_USER
# DB_PORT
# DB_PASS
# DB_NaME
# DB_URL

#blackblaze
KEY_ID='YourKeyID'
KEY_NAME='YourKeyName'
APP_KEY='YourAppKey'
ENDPOINT_S3='s3.us-east-005.backblazeb2.com'
BLACKBLAZE_BUCKET='YourBucketName'

# Mail SMTP Conection
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER='YourUser'
MAIL_PASS='YourPass'
MAIL_NAME="StoreName"
MAIL_FROM="StoreEmail"
